.akcia-sec {
	position: relative;
	background: #f5f5f5;
	z-index: 2;
}

.akcia {}

.akcia__list {
	padding-top: $pad-xs;
	@include res(s) {
		padding-top: $pad-xxs;
	}
	div {
		&:last-child {
			.akcia__item {
				margin-bottom: 0;
			}
		}
	}
}

.akcia__item {
	margin-bottom: $pad-xs;
	overflow: hidden;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		border-radius: 10px;
		transform: translate3d(0,0,0);
	}
}