.big-head-sec {
	background: transparentize(#000,0.5);
}

.big-head {
	min-height: 100vh;
	padding-top: 45px;
}

.big-head__top {}

.big-head__logo {}

.big-head__callback {}

.big-head__title {}

.big-head__benefits {}

.big-head__benefit {}

.big-head__contact {}

.big-head__contact-title {}

.big-head__contact-btns {}