.head-wall-sec {
	position: fixed;
	top: 45px;
	left: 50%;
	width: 100%;
	overflow: hidden;
	transform: translate3d(-50%,0,0);
}

.head-wall {
	display: flex;
	flex-wrap: wrap;
	width: (215px * 9);
}

.head-wall__img {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		background: transparentize(#000,0.6);
		transition: all 1s ease;
		z-index: 1;
	}
	img {
		display: block;
	}
	&.active {
		&:before {
			opacity: 0;
		}
	}
}